.video__volume {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    border-radius: 5px;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) rotate(-45deg);
    text-align: center;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
}

.video__volume_muted.video__volume {
  &::after {
    opacity: 1;
  }
}

.video__volumeIcon {
  z-index: 2;
  fill: #fff;
}
